[Unit]
Description=mbii-web
After=network.target

[Service]
Type=simple
WorkingDirectory=WORKING_DIRECTORY
ExecStart=/usr/bin/python3 -u mbii-web.py
Restart=always
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target