      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" href="index.html"><img src="assets/images/logo.png" alt="logo" /></a>
        </div>
        <ul class="nav">       
          <li class="nav-item menu-items">
            <a class="nav-link" href="/">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
		 <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#instances" aria-expanded="false" aria-controls="instances">
              <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
              </span>
              <span class="menu-title">Instances</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="instances">
              <ul class="nav flex-column sub-menu">
				 {% for instance in instances %}
                <li class="nav-item"> <a class="nav-link" href="/instance?instance={{ instance|lower }}">{{ instance|capitalize }}</a></li>
				{% endfor %}
              </ul>
            </div>
          </li>				  
		  
		  <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#logs" aria-expanded="false" aria-controls="logs">
              <span class="menu-icon">
                <i class="mdi mdi-table-large"></i>
              </span>
              <span class="menu-title">Logs</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="logs">
              <ul class="nav flex-column sub-menu">
				 {% for instance in instances %}
                <li class="nav-item"> <a class="nav-link" href="/logs?instance={{ instance|lower }}&page=1&per_page=100">{{ instance|capitalize }}</a></li>
				{% endfor %}
				<li class="nav-item"> <a class="nav-link" href="/logs?page=1&per_page=100">All</a></li>
              </ul>
            </div>
          </li>		
		  <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#stats" aria-expanded="false" aria-controls="stats">
              <span class="menu-icon">
                <i class="mdi mdi-chart-bar"></i>
              </span>
              <span class="menu-title">Stats</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="stats">
              <ul class="nav flex-column sub-menu">
				 {% for instance in instances %}
                <li class="nav-item"> <a class="nav-link" href="/stats?instance={{ instance|lower }}">{{ instance|capitalize }}</a></li>
				{% endfor %}
				<li class="nav-item"> <a class="nav-link" href="/stats">All</a></li>
              </ul>
            </div>
          </li>		
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <span class="menu-icon">
                <i class="mdi mdi-security"></i>
              </span>
              <span class="menu-title">Players</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/players?page=1&per_page=10">Most Play Time</a></li>
                <li class="nav-item"> <a class="nav-link" href="/players?page=1&per_page=10">Highiest Rank</a></li>
              </ul>
            </div>
          </li>

        </ul>
      </nav>