{
  "server":{
    "host_name":"[SERVER NAME]",
    "port":29071,
    "discord":"[DISCORD INVITE CODE]",
    "engine": "mbiided.i386",	
    "restart_instance_every_hours":[RESTART SERVER AFTER X NUMBER OF HOURS IF SERVER IS EMPTY, EXAMPLE, 12],
    "enable_rtv":true,
    "enable_rtm":false,
    "rtm_mode": 0
  },
  "plugins":{
	"auto_message":{
		"messages":[
			"MESSAGES HERE WILL",
			"ROTATE AND SHOW BASED ON THE",
			"REPEAT MINUTES BELOW"
		],
		"repeat_minutes":5
	},
	"auto_map_rotation":{
		"rotate_minutes": [MOVE TO THE NEXT MAP WHEN SERVER IS EMPTY AFTER X MINUTES]
	},	
	"stats":{},
	"discord_bot":{
		"token": "[IF WANTING TO USE A DISCORD BOT, ADD YOUR TOKEN HERE]",
		"command_prefix": "!",
		"roles_restart": ["NR"],
		"roles_status": ["NR"],
		"roles_test": ["NR"],
		"roles_say": ["NR"]
	}
  }, 
  "security":{
    "rcon_password":"[CHOOSE AN RCON PASSWORD]",
    "server_password":"[LEAVE ME BLANK IF THIS IS OPEN FOR ALL TO JOIN]"
  },
  "game":{
    "mode":"[open/semi-authentic/full-authentic/duel/legends]",  
    "map_win_limit":25,
    "map_round_limit":25,
    "competitive_config":0,
    "balance_mode":-1,
    "message_of_the_day":"my message of the day\nhello everyone!"
  },  
  "smod":{
    "admin_1":{
      "config":65535,
      "password":"SMOD_1_PASS"
    }, 
    "admin_2":{
      "config":60191,
      "password":"SMOD_2_PASS"
    }, 
    "admin_3":{
      "config":51983,
      "password":"SMOD_3_PASS"
    }, 
    "admin_4":{
      "config":0,
      "password":""
    }, 
    "admin_5":{
      "config":0,
      "password":""
    }, 
    "admin_6":{
      "config":0,
      "password":""
    }, 
    "admin_7":{
      "config":0,
      "password":""
    }, 
    "admin_8":{
      "config":0,
      "password":""
    }, 
    "admin_9":{
      "config":0,
      "password":""
    }, 
    "admin_10":{
      "config":0,
      "password":""
    }
  },

  "class_limits":{
    "Solder":50,
    "Trooper":50,
    "Commander":50,
    "EliteTrooper":50,
    "Sith":50,
    "Jedi":50,
    "BountyHunter":50,
    "Hero":50,
    "SBD":50,
    "Wookie": 50,
    "Droideka":50,
    "CloneTrooper":50,
    "Mandalorian":50,
    "ArcTrooper":50
  },
  "map_rotation_order":[
    "mb2_corellia",  
    "mb2_commtower",
    "mb2_lunarbase",	
    "mb2_enclave",
    "mb2_jabba",
    "mb2_jeditemple",
    "mb2_cloudcity",
    "mb2_kamino",
    "mb2_dxun"
  ],
  "primary_maps":[
    "mb2_alderaan",
    "mb2_boc",
    "mb2_citadel",
    "mb2_cloudcity",
    "mb2_commtower",
    "mb2_commtower_classic",
    "mb2_corellia",
    "mb2_coruscant_chase",
    "mb2_deathstar",
    "mb2_dotf",
    "mb2_dotf_classic",
    "mb2_dotf_classicb",
    "mb2_dxun",
    "mb2_echobase",
    "mb2_enclave",
    "mb2_eravana",
    "mb2_jabba",
    "mb2_jakku",
    "mb2_jeditemple",
    "mb2_jeditemple_classic",
    "mb2_kamino",
    "mb2_korriban",
    "mb2_lunarbase",
    "mb2_mustafar",
    "mb2_mygeeto",
    "mb2_ps_desert",
    "mb2_ps_korriban",
    "mb2_republiccruiser",
    "mb2_sailbarge",
    "mb2_scarif",
    "mb2_sdestroyer",
    "mb2_smuggler",
    "mb2_starkiller_base",
    "mb2_tantiveiv",
    "mb2_tantiveiv_classic",
    "mb2_tatooine",
    "mb2_theed",
    "mb2_tradefed",
    "mb2_yavinassault"
  ],
  "secondary_maps":[
    "300_thermopylae",
    "aliens",
    "aliens2",
    "aliens3",
    "ssb_pkmnstadium",
    "cod4_tanker",
    "dc_universe",
    "de_dust2",
    "ffvii_shinrahq",
    "ffviiac_church",
    "fifa",
    "fy_poolday",
    "fy_poolparty",
    "halo_bc",
    "halo_for",
    "jp_siteb",
    "legosw",
    "lotr_helmsdeep",
    "matrix_bbrawl",
    "matrix_lobby",
    "mgs1_ninja",
    "mgs1_ocelot",
    "mgs2_agear",
    "mgs2_fortune",
    "mgsvr",
    "mk_deadpool",
    "monster_forest",
    "pokemon",
    "re_mansion",
    "shogun",
    "slender",
    "sm3_venom",
    "tmnt",
    "ultimate_showdown",
    "ww2_omaha",
    "pb2_boc",
    "pb2_cloudcity",
    "pb2_depot",
    "pb2_dotf",
    "pb2_halo",
    "pb2_halo_bc",
    "pb2_hangarc",
    "pb2_hotfo",
    "pb2_jtduel",
    "pb2_kashyyyk",
    "pb2_korriban",
    "pb2_prison",
    "pb2_reactor",
    "pb2_republiccruiser",
    "pb2_rescue",
    "pb2_sdestroyer",
    "pb_dotf",
    "pb_sdestroyer",
    "um_antioch",
    "um_bespin",
    "um_bouncy",
    "um_bouncybash",
    "um_canyon",
    "um_canyon_guns",
    "um_castlevania",
    "um_crazyrace",
    "um_crypt",
    "um_downfall",
    "um_downfall_guns",
    "um_football",
    "um_goodandevil",
    "um_hammertime",
    "um_jawarace",
    "um_lasertag",
    "um_lavaparty",
    "um_medievil",
    "um_moseisley",
    "um_nightmare",
    "um_ns_guns",
    "um_ns_streets",
    "um_pirvsnin",
    "um_pistolduel",
    "um_poolparty",
    "um_prisonraid_v4",
    "um_ragnosbattle",
    "um_rockettennis",
    "um_sniperlabs",
    "um_spacerace",
    "um_swoopbattle",
    "um_swooprace",
    "um_taspir",
    "um_taspir_rockets",
    "um_throwthemin",
    "um_tomb",
    "um_vjun",
    "um_xwing"
  ]
}
